.content_principal {
  display: flex;
  justify-content: left;
  border: 1px solid black;
}

.h1 {
  position: left;
  display: flex;
  text-align: justify;
  padding-right: 280px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
  font-weight: bold;
}

.container-text > .p {
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  text-align: left;
  padding-right: 120px;
}

.p-texto {
  display: flex;
  text-align: justify;
  padding-right: 110px;
}

.square-element::after {
  content: "";
  display: inline-flex;
  position: relative;
  bottom: 8px;
  padding: 1.5%;
  margin-left: 5px;
  background-color: #e22b22;
  border-radius: 5px;
}

.container {
  display: flex;
  height: 500px;
}

.container-text {
  margin-left: 500px;
  text-align: center;
}

.button {
  display: flex;
  margin-left: 0%;
  margin-top: 20%;
  align-items: flex-end;
  text-align: center;
  background-color: red;
  color: white;
  font-size: 17px;
  padding: 6px 12px;
}